# Experiment 1 - Predict using XGBoost

### Notebook 2: Data Exploration and Feature engineering

**ToDo**
* Padronizar os data types
* Normalizar valores
* Pesquisar feature engineering para serie temporal multivariada
* Será que eu uso a feature tools? =P

In [1]:
import pandas as pd

In [26]:
data = pd.read_csv('../data/CMAPSSData/data_all.csv', index_col='index')

In [27]:
data.shape

(160359, 30)

In [28]:
data.head(3)

,Unnamed: 0,engine_no,time_in_cycles,op_setting_1,op_setting_2,op_setting_3,sensor_meas_1,sensor_meas_2,sensor_meas_3,sensor_meas_4,...,sensor_meas_15,sensor_meas_16,sensor_meas_17,sensor_meas_18,sensor_meas_19,sensor_meas_20,sensor_meas_21,time,engine_family,RUL
index,,,,,,,,,,,,,,,,,,,,,
0,0,1,1,-0.0007,-0.0004,100.0,518.67,641.82,1589.70,1400.60,...,8.4195,0.03,392,2388,100.0,39.06,23.4190,2000-01-01 00:00:00,1,112.0
1,1,1,2,0.0019,-0.0003,100.0,518.67,642.15,1591.82,1403.14,...,8.4318,0.03,392,2388,100.0,39.00,23.4236,2000-01-01 00:10:00,1,98.0
2,2,1,3,-0.0043,0.0003,100.0,518.67,642.35,1587.99,1404.20,...,8.4178,0.03,390,2388,100.0,38.95,23.3442,2000-01-01 00:20:00,1,69.0

In [29]:
data.drop(['Unnamed: 0'], axis=1, inplace=True)

In [30]:
# trocar time por datetime
time = pd.to_datetime(data['time'])
data.drop(['time'], axis=1, inplace=True)
data = pd.concat([data, time], axis=1)

In [31]:
# trocar int por float
for col in ['engine_no', 'time_in_cycles', 'sensor_meas_17','sensor_meas_18', 'engine_family']:
    ints = data[col].astype('float64')
    data.drop([col], axis=1, inplace=True)
    data = pd.concat([data, ints], axis=1)

In [ ]:
# Ordenar por timestamp

In [35]:
# Separar o target
#y = data['RUL']

In [32]:
data.head(3)

,op_setting_1,op_setting_2,op_setting_3,sensor_meas_1,sensor_meas_2,sensor_meas_3,sensor_meas_4,sensor_meas_5,sensor_meas_6,sensor_meas_7,...,sensor_meas_19,sensor_meas_20,sensor_meas_21,RUL,time,engine_no,time_in_cycles,sensor_meas_17,sensor_meas_18,engine_family
index,,,,,,,,,,,,,,,,,,,,,
0,-0.0007,-0.0004,100.0,518.67,641.82,1589.70,1400.60,14.62,21.61,554.36,...,100.0,39.06,23.4190,112.0,2000-01-01 00:00:00,1.0,1.0,392.0,2388.0,1.0
1,0.0019,-0.0003,100.0,518.67,642.15,1591.82,1403.14,14.62,21.61,553.75,...,100.0,39.00,23.4236,98.0,2000-01-01 00:10:00,1.0,2.0,392.0,2388.0,1.0
2,-0.0043,0.0003,100.0,518.67,642.35,1587.99,1404.20,14.62,21.61,554.26,...,100.0,38.95,23.3442,69.0,2000-01-01 00:20:00,1.0,3.0,390.0,2388.0,1.0

In [33]:
data.dtypes

op_setting_1             float64
op_setting_2             float64
op_setting_3             float64
sensor_meas_1            float64
sensor_meas_2            float64
sensor_meas_3            float64
sensor_meas_4            float64
sensor_meas_5            float64
sensor_meas_6            float64
sensor_meas_7            float64
sensor_meas_8            float64
sensor_meas_9            float64
sensor_meas_10           float64
sensor_meas_11           float64
sensor_meas_12           float64
sensor_meas_13           float64
sensor_meas_14           float64
sensor_meas_15           float64
sensor_meas_16           float64
sensor_meas_19           float64
sensor_meas_20           float64
sensor_meas_21           float64
RUL                      float64
time              datetime64[ns]
engine_no                float64
time_in_cycles           float64
sensor_meas_17           float64
sensor_meas_18           float64
engine_family            float64
dtype: object

**Date/time features**

In [34]:
data.describe()

,op_setting_1,op_setting_2,op_setting_3,sensor_meas_1,sensor_meas_2,sensor_meas_3,sensor_meas_4,sensor_meas_5,sensor_meas_6,sensor_meas_7,...,sensor_meas_16,sensor_meas_19,sensor_meas_20,sensor_meas_21,RUL,engine_no,time_in_cycles,sensor_meas_17,sensor_meas_18,engine_family
count,160359.000000,160359.000000,160359.000000,160359.000000,160359.000000,160359.000000,160359.000000,160359.000000,160359.000000,160359.000000,...,160359.000000,160359.000000,160359.000000,160359.000000,707.000000,160359.000000,160359.000000,160359.000000,160359.000000,160359.000000
mean,17.211973,0.410004,95.724344,485.840890,597.361022,1467.035653,1260.956434,9.894999,14.424935,359.729968,...,0.025185,98.389146,25.942709,15.565700,81.437058,105.553758,123.331338,360.698801,2273.754039,2.789398
std,16.527988,0.367938,12.359044,30.420388,42.478516,118.175261,136.300073,4.265554,6.443922,174.133835,...,0.004997,4.656270,11.691422,7.015067,51.108532,72.867325,83.538146,31.021430,142.513114,1.089709
min,-0.008700,-0.000600,60.000000,445.000000,535.480000,1242.670000,1023.770000,3.910000,5.670000,136.170000,...,0.020000,84.930000,10.160000,6.010500,6.000000,1.000000,1.000000,302.000000,1915.000000,1.000000
25%,0.001300,0.000200,100.000000,449.440000,549.960000,1357.360000,1126.830000,5.480000,8.000000,175.710000,...,0.020000,100.000000,14.330000,8.601300,36.000000,44.000000,57.000000,332.000000,2212.000000,2.000000
50%,19.998100,0.620000,100.000000,489.050000,605.930000,1492.810000,1271.740000,9.350000,13.660000,341.690000,...,0.030000,100.000000,24.920000,14.953500,83.000000,89.000000,114.000000,367.000000,2319.000000,3.000000
75%,35.001500,0.840000,100.000000,518.670000,642.340000,1586.590000,1402.200000,14.620000,21.610000,553.290000,...,0.030000,100.000000,38.820000,23.294600,119.000000,164.000000,173.000000,392.000000,2388.000000,4.000000
max,42.008000,0.842000,100.000000,518.670000,645.110000,1616.910000,1441.490000,14.620000,21.610000,570.810000,...,0.030000,100.000000,39.890000,23.950500,195.000000,260.000000,543.000000,400.000000,2388.000000,4.000000

**